:root{
    font-family: 'Roboto', sans-serif;
}

.main-container{
    width: 99.8vw;
    height: 99.5vh;
    border: 2px solid red;
    display: grid;
    grid-template-columns: repeat(1,minmax(200px,1fr)) 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    /* gap: 10px; */
}

.main-container > div{
    border: 2px solid black;
}

.header{
    grid-column: 2/4;
}

.sidebar{
    grid-column: 1/1;
    grid-row: 1/3;
}

.body{
    grid-column: 2/4;
    grid-row: 2/3;
}

/* Sidebar Stuff */
.sidebar{
    display: flex;
    flex-direction: column;
    gap: 3%;
    background-color: #1992D4;

}

.dashboard.item{
    margin-left: 2%;
    margin-bottom: 15%;
    margin-top: 5%;
    padding-top: 1%;
    font-size: 1.5rem;
}

.item{
    display: flex;
    margin-left: 5%;
    gap: 5%;
    font-size: 1.15rem;
    color: white;
}

.item > img{
    filter: invert(1);
}

/* Header stuff */
.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
}

.top{
    display: flex;
    justify-content: space-between;
    
}

.top > *{
    display: flex;

}

.search{
    gap: 2%;
    align-items: center;
    width: 60%;
}

.search > img{
    height: 60%;
}

.search > input{
    background-color: #E2E8F0;
    border: none;
    border-radius: 20px;
    height: 60%;
    width: 100%;
}

.notifs{
    gap: 2rem;
    align-items: center;
    width: 40%;
    justify-content: flex-end;
}

.notifs > img{
    height: 60%;
}

.pfp-small{
    width: 40px;
    height: 40px;
    background-image: url("./content/images/darkcatpfp.jpg");
    background-size: cover;
    border-radius: 50%;
}

.name-small{
    font-size: 1.25rem;
}

.bottom{
    display: flex;
    justify-content: space-between;
}

.bottom > *{
    display: flex;
}

.profile-info{
    gap: 2%;
    align-items: center;
    width: 50%;
}

.pfp-big{
    width: 50px;
    height: 50px;
    background-image: url("./content/images/darkcatpfp.jpg");
    background-size: cover;
    border-radius: 50%;

}

.name-big{
    font-size: 1.5rem;
}

.buttons{
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: flex-end;
    gap: 5%;
}

.button{
    height: 70%;
    width: 33%;
    border-radius: 20px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    background-color: #1992D4;
    color: white;
}

/* Body stuff */
.body{
    display: flex;
    overflow: auto;
    background-color: #E2E8F0;
}

.title-text{
    display: flex;
    padding: 1%;
    padding-left: 2%;
    font-size: 1.25rem;

}

.body-container{
    overflow: auto;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.projects-container{
    overflow: auto;
    display: grid;
    justify-content: center;
    padding: 1%;
    height: 100%;
    grid-template-columns: repeat(auto-fit, minmax(275px, 350px));
    grid-template-rows: repeat(auto-fit, minmax(150px, 200px));
    gap: 2%;
    row-gap: 4%;

}

.projects-container > div{
    /* border: 2px solid blue; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}

.project{
    display: flex;
    background-color: white;
}

.card-stripe{
    background-color: #F0B429;
    width: 4%;
    height: 100%;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}

.project-content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 3%;
}

.project-title{
    font-size: 1.20rem;
}

.project-desc{
    color: #636363;
}

.actions{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10%;
    height: 15%;
}

/* Announcement and trending section */

.right-body-container{
    width: 25%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1, minmax(225px, 300px));
    grid-template-rows: 1fr 1fr;
    /* border: 2px solid green; */
    padding: 1%;
    gap: 3%;
}

.announcements{
    display: flex;
    flex-direction: column;
}

.trending{
    display: flex;
    flex-direction: column;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    height: 100%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;

}

.announcement{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}

.trending-item{
    display: flex;
    width: 95%;
    justify-content: flex-start;
    align-items: center;
    gap: 5%;
}

.trending-item > img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
}

.username{
    font-size: 1rem;
}

.info{
    font-size: 0.9rem;
    color: #636363;
}