
.main-container{
    width: 99.8vw;
    height: 99.5vh;
    border: 2px solid red;
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    gap: 10px;
}

.main-container > div{
    border: 2px solid black;
}

.header{
    grid-column: 2/4;
}

.sidebar{
    grid-column: 1/1;
    grid-row: 1/3;
}

.body{
    grid-column: 2/4;
    grid-row: 2/3;
}

/* Sidebar Stuff */
.sidebar{
    display: flex;
    flex-direction: column;
    gap: 2%;
}

.dashboard.item{
    border: 2px solid green;
}

.item{
    display: flex;
    margin-left: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Header stuff */
.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top{
    display: flex;
    justify-content: space-between;
    border: 2px solid springgreen;
}

.top > *{
    display: flex;
}

.bottom{
    display: flex;
    border: 2px solid orange;
    justify-content: space-between;
}

.bottom > *{
    display: flex;
}

/* Body stuff */
.body{
    display: flex;
}

.title-text{
    display: flex;
    border: 2px solid yellow;
}

.body-container{
    display: flex;
    flex-direction: column;
    width: 70%;
    border: 5px solid pink;
}

.projects-container{
    display: grid;
    justify-content: center;
    padding: 1%;
    height: 100%;
    grid-template-columns: repeat(auto-fit, minmax(275px, 350px));
    grid-template-rows: repeat(auto-fit, minmax(150px, 200px));
    gap: 3%;
    border: 2px solid brown;

}

.projects-container > div{
    border: 2px solid blue;
}

.right-body-container{
    width: 30%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    /* border: 2px solid green; */
    padding: 1%;
    gap: 3%;
}

.right-body-container > div{
    border: 2px solid black;
}

.announcements{
    display: flex;
    flex-direction: column;
}

.trending{
    display: flex;
    flex-direction: column;
}
.card{
    border: 3px solid orange;
    height: 100%;
}